html{
    height: 100%;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative; 
}

.table thead th {
    background-color: #67823a;
    color: white;

  }
 
/*navbar footer*/
.navbar,footer,.white-color, .card .card-header, #btn-submit {
    background-color: #67823a;
    color: white;
}

footer {
    margin-top: auto;
    width: 100%;
    padding-left: 0;
  }

